/* Resetando margens e padding */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Estilo do corpo */
body {
    font-family: 'Poppins', Arial, sans-serif;
    background: #4c3c92;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #333;
}

/* Estilo do contêiner principal */
.container {
    background-color: #fff;
    padding: 40px;
    border-radius: 15px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.25);
    text-align: center;
    width: 95%;
    max-width: 550px;
}

/* Estilo do título */
.container h1 {
    font-size: 26px;
    font-weight: 600;
    color: #333;
    margin-bottom: 20px;
}

/* Estilo dos campos do formulário */
.form-group {
    margin-bottom: 20px;
    text-align: left;
}

.form-group label {
    font-size: 16px;
    font-weight: 500;
    color: #333;
    display: block;
    margin-bottom: 5px;
}

.form-group input {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1);
    transition: border-color 0.3s ease;
}

.form-group input:focus {
    border-color: #2196F3;
    outline: none;
    box-shadow: 0 0 5px rgba(33, 150, 243, 0.5);
}

/* Estilo dos botões */
.button-group {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
}

.edit-button, .back-button {
    text-decoration: none;
    background-color: #2196F3;
    color: #fff;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 16px;
    font-weight: bold;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    transition: background-color 0.3s ease, transform 0.2s ease;
    text-align: center;
    border: none;
    cursor: pointer;
}

.edit-button:hover {
    background-color: #1976D2;
    transform: scale(1.05);
}

.back-button {
    background-color: #f44336;
    color: #fff;
    padding: 10px 20px;
    transition: background-color 0.3s ease, transform 0.2s ease;
    text-align: center;
    text-decoration: none;
}

.back-button:hover {
    background-color: #d32f2f;
    transform: scale(1.05);
}
