/* Resetando alguns estilos padrões do navegador */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  background-color: #f4f4f4;
  color: #000000;
}

/* cabeçalho */
.conteiner_topo{
  background-color: #333;;
  justify-content: center;
  display: flex;
  height: 120px;
 
}
.topo_objeto {
  width: 1200px;
  height: 100px;
  padding: 20px;
}

.topo_objeto p{
  color: #ffffff;
  font-size: 20px;
}
/* botão ligin*/
.topo_objeto a{
  color: #15ff00;
  font-size: 12px;
  text-decoration: none;

}


.topo_objeto img{
  height: 60px;
}


 /* Menu de navegação */
.topnav {
  overflow: hidden;
  background-color: #242424;

}


.topnav a {
  float: left;
  display: block;
  color: #ffffff;
  text-align: center;
  padding: 18px 16px;
  text-decoration: none;
  font-size: 17px;
  
}

.topnav a:hover {
  background-color:  #333;
  color: rgb(255, 255, 255);
}

.topnav a.active {
  background-color: #0011ff;
  color: white;
}

.topnav .icon {
  display: none;
}

@media screen and (max-width: 600px) {
  .topnav a:not(:first-child) {display: none;}
  .topnav a.icon {
    float: right;
    display: block;
  }
}

@media screen and (max-width: 600px) {
  .topnav.responsive {position: relative;}
  .topnav.responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
} /* Menu FIM */

main {
  padding: 20px;
  text-align: center;
}


 /* Conteiner de produtos - titulo*/
#produtos a {
  font-size: 25px;
  text-decoration: none;
}

/* Conteiner de produtos - geral*/
.produtos-lista {
 
  height: auto;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin: 10px;
}

/* Conteiner de produtos - itens*/
.produto {
  background-color: white;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease;
  width: 220px;
  height: 100%;
  margin: 5px;
}

.produto:hover {
  transform: scale(1.05);
}

.produto-img {
  width: 200px;
  height: 250px;
  
}

.produto-info {
  padding: 15px;
  text-align: center;
}

.produto-info h3 {
  font-size: 1.2rem;
  margin-bottom: 10px;
}

.produto-info p {
  font-size: 1rem;
  color: #4CAF50;
}

footer{
  background-color: #333;
  height: 100px;
  color: #ffffff;
  text-align: center;
  padding: 100px;

}

/* Responsividade */
@media (max-width: 768px) {
  nav h1 {
    font-size: 1.5rem;
  }

  nav ul li {
    display: block;
    margin-bottom: 10px;
  }

  .produtos-lista {
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  }

  .slide_destaque{
    background-color: #000000;
    height: 200px;
    text-align: center;

  }
  .produto {
    background-color: rgb(255, 255, 255);
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
    width: 150px;
    height: auto;
    margin: 5px;
  }
  .produto-img {
    width: 100%;
    height: auto;
    
  }

  #produtos a {
    font-size: 17px;
    margin-bottom: 20px;
    margin-top: 10px;
  }

  .produto-info h3 {
    font-size: 15px;
    margin-bottom: 10px;
  }
  
  .produto-info p {
    font-size: 12px;
    color: #4CAF50;
  }

  /* Slideshow container */
.slideshow-container {
  background-color: #d40000;
  width: auto;
  height: 60px;
  position: relative;

}

.slideshow-container img{
  width: auto;
  height: 40px;
  margin-top: 10px;
}


  footer p{
    font-size: 12px;
  }

}

@media (max-width: 480px) {
  nav h1 {
    font-size: 1.2rem;
  }

  .produto-info h3 {
    font-size: 1rem;
  }

  .produto-info p {
    font-size: 0.9rem;
  }


}

* {box-sizing:border-box}

/* Slideshow container */
.slideshow-container {
  max-width: auto;
  height: 460px;
  position: relative;

}

.slideshow-container img{
  width: 100%;
  height: 450px;
  margin-top: 10px;
}

/* Hide the images by default */
.mySlides {
  display: non;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}
