/* Estilos gerais */
body {
  font-family: 'Roboto', sans-serif;
  background: linear-gradient(135deg, #00ffff, #00ff00); /* Gradiente de azul neon (#00ffff) para verde neon (#00ff00) */
  margin: 0;
  padding: 0;
}

h2{
  text-align: center;
}

/* Cabeçalho */
header nav {
  background-color: #333;
  padding: 20px;
  color: #fff;
  text-align: center;
}

header nav h1 {
  margin: 0;
}

header nav ul {
  list-style: none;
  padding: 0;
}

header nav ul li {
  display: inline;
  margin: 0 15px;
}

header nav ul li a {
  color: #fff;
  text-decoration: none;
  font-weight: bold;
}

header nav ul li a:hover {
  color: #f39c12;
}

/* Formulário de login */
.form-container {
  background-color: #fff;
  border-radius: 8px;
  padding: 30px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  max-width: 400px;
  margin: 50px auto;
}

.form-container h2 {
  font-size: 24px;
  margin-bottom: 20px;
}

input[type="email"], input[type="password"] {
  width: 100%;
  padding: 12px;
  margin: 10px 0;
  border: 1px solid #ddd;
  border-radius: 5px;
  font-size: 16px;
}

button {
  width: 100%;
  padding: 12px;
  background-color: #007bff;
  border: none;
  border-radius: 5px;
  color: #fff;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s;
}

button:hover {
  background-color: #0056b3;
}

p {
  font-size: 16px;
  margin-top: 15px;
}

p a {
  text-decoration: none;
  color: #007bff;
}

p a:hover {
  text-decoration: underline;
}

/* Rodapé */
footer {
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 10px;
  position: fixed;
  bottom: 0;
  width: 100%;
}
