 /* Estilo Geral */
 body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

header {
  background-color: #333;
  padding: 10px 0;
}

header .topnav a {
  color: white;
  text-decoration: none;
  padding: 10px;
  display: inline-block;
}

header .topnav a.active {
  background-color: #007BFF;
}


/* Slider de produtos*/
.slider {
  display: flex;
  background-color: #007BFF;
  align-items: center;
  position: relative;
  justify-content: center;
  width: auto;
}

.produtos-lista {
  background-color: #000000;
  width: auto;
  display: flex;
  padding: 10px;
  gap: 20px;
  overflow-x: auto;
  overflow: hidden;
  scroll-behavior: smooth;
  padding: 10px;
}

.produto {
  flex: 0 0 160px; /* Cada card ocupa 200px */
  background: #f9f9f9;
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 10px;
  text-align: center;
}

.produto img {
  max-width: 100%;
  height: auto;
  border-radius: 8px;
}

.slider-btn {
  background-color: #000000;
  color: #fff;
  border: none;
  padding: 10px;
  cursor: pointer;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 1;
}

.slider-btn.left {
  left: 10px;
}

.slider-btn.right {
  right: 10px;
} /* FIM slider de produtos */


footer {
  text-align: center;
  padding: 10px;
  background-color: #333;
  color: #fff;
}
