<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Painel de Administração</title>
    <link rel="stylesheet" href="/css/admin.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap" rel="stylesheet">
</head>
<body>
    <!-- Botão de Logout -->
    <div class="logout-button">
        <a href="/views/login.html">Logout</a>
    </div>

    <div class="admin-container">
        <header>
            <h1>Painel de Administração</h1>
            <br>
        </header>

        <div class="buttons-container">
            <a href="/views/listaMateus.html">Lista do Mateus</a>
            <a href="/views/listaAssaí.html">Lista do Assaí</a>
            <a href="/views/listaAtacadao.html">Lista do Atacadão</a>
            <a href="/views/listaAtacadao.html">Lista do Atacadão</a>
            <a href="/views/listaUsuario.html">Lista de Usuários</a>
        </div>
    </div>
</body>
</html>
