<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Assaí - Meu Carrinho</title>
  <link rel="stylesheet" href="/public/pg_mercados.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons/font/bootstrap-icons.css">
</head>
<body>
  <!-- Cabeçalho -->
  <header>
   <!-- Cabeçalho -->
  <header>
    <!-- top inicio-->
   <div class="conteiner_topo">
    <div class="topo_objeto"> 
      <div class="logo"><a href="/views/index.html"><img src="/public/image/logo.png"/></a></div>
    <!-- colocando a barra de pesquisa -->
    <form action="#" method="get" class="search-form">
        <div class="search-container">
            <input type="text" placeholder="Buscar por produto" name="search" class="search-input" id="seachInput">
            <button type="submit" class="search-button">🔍</button>
        </div>
    </form>
    <a href="/views/login.html" class="login-btn">Login</a>
    <a href="/views/cadastro.html" class="cadastro-btn">Cadastre-se</a>
     
  </div>
    </div>
    <!-- top inicio FIM-->
   <!-- categorias-->
    <nav>
   <ul>
    <button>Alimentos</button>
    <button>Bebidas</button>
    <button>Higiene e Limpeza</button>
    <button>Frios e Congelados</button>
    <button>Frutas e Verduras</button>
    <button>Ofertas Imperdíveis</button>
  </ul>
</nav>
<!-- Carrossel de destaques da semana -->
 
  </header>



  <!-- Conteúdo Principal -->
  <main>
    <div class="box_mercados">
      <h3>Selecione um mercado:</h3>
            <a href="mateus.html"><img id="mateus-logo" src="/public/image/grupo-mateus-logo.png"/></a>
            <a href="atacadao.html"><img id="atacadao-logo" src="/public/image/atacadao-logo2.webp"/></a>
        </div> 
    <section id="promocoes">
      <h2 >Melhores ofertas da Semana Assaí </h2> 
      <div class="carousel-container">
        <button class="arrow left-arrow">❮</button>
        <div class="promocoes-grid">
          <!-- Produtos -->
          <div class="promocao-item">
            <img src="/public/produtos/potenutella650g.webp" alt="Produto 1">
            <h3>Creme de Avelá Nutella 650g</h3>
            <p class="preco-original">R$ 45,99</p>
            <p class="preco-promocional">R$ 39,90</p>
            <div class="quantidade-container">
              <button class="decrement-btn">-</button>
              <span class="quantity-display">1</span>
              <button class="increment-btn">+</button>
            </div>
          </div>
          <div class="promocao-item">
            <img src="/public/produtos/cafe-uniao-tradicional-250g.jpg" alt="Produto 2">
            <h3>Café União Tradicional 250g</h3>
            <p class="preco-original">R$ 9,99</p>
            <p class="preco-promocional">R$ 8,99</p>
            <div class="quantidade-container">
              <button class="decrement-btn">-</button>
              <span class="quantity-display">1</span>
              <button class="increment-btn">+</button>
            </div>
          </div>
          <div class="promocao-item">
            <img src="/public/produtos/agua-sanitária-ypê-pro-5l.jpeg" alt="Produto 3">
            <h3>Água Sanitária Ypê Pro Galão 5l</h3>
            <p class="preco-original">R$ 12,89</p>
            <p class="preco-promocional">R$ 10,79</p>
            <div class="quantidade-container">
              <button class="decrement-btn">-</button>
              <span class="quantity-display">1</span>
              <button class="increment-btn">+</button>
            </div>
          </div>
          <div class="promocao-item">
              <img src="/public/produtos/leite-int-betania-1L.webp" alt="Produto 3">
              <h3>Leite Longa Vida Integral Betânia 1L</h3>
              <p class="preco-original">R$ 6,39</p>
              <p class="preco-promocional">R$ 4,95</p>
              <div class="quantidade-container">
                <button class="decrement-btn">-</button>
                <span class="quantity-display">1</span>
                <button class="increment-btn">+</button>
              </div>
            </div>
            <div class="promocao-item">
              <img src="/public/produtos/BGuarana.png" alt="Produto 3">
              <h3>Guaraná Antarctica Original Lata 350ML</h3>
              <p class="preco-original">R$ 3,69</p>
              <p class="preco-promocional">R$ 1,99</p>
              <div class="quantidade-container">
                <button class="decrement-btn">-</button>
                <span class="quantity-display">1</span>
                <button class="increment-btn">+</button>
              </div>
            </div>
            <div class="promocao-item">
              <img src="/public/produtos/linguiça-defumada-perdigao215g.webp" alt="Produto 3">
              <h3>Linguiça Fininha Defumada Perdigão 215g</h3>
              <p class="preco-original">R$ 6,99</p>
              <p class="preco-promocional">R$ 14,89</p>
              <div class="quantidade-container">
                <button class="decrement-btn">-</button>
                <span class="quantity-display">1</span>
                <button class="increment-btn">+</button>
              </div>
            </div>
          <!-- Adicione mais itens conforme necessário -->
        </div>
        <button class="arrow right-arrow">❯</button>
      </div>
    </section>
 <!-- Carrossel de destaques da semana FIM -->

 <!-- promoções em destaque -->
    <section id="produtos">
      <a href="#">Higiene e limpeza</a>
      <div class="produtos-lista">
        <!-- Produtos -->
        <div class="produto">
          <img src="/image/arroz.jfif" alt="Arroz" class="produto-img">
          <div class="produto-info">
            <h3>Arroz</h3>
            <p class="preco-original">R$ 20,00</p>
            <p class="preco-promocional">R$ 15,00</p>
            <div class="quantidade-container">
              <button class="decrement-btn">-</button>
              <span class="quantity-display">1</span>
              <button class="increment-btn">+</button>
            </div>
          </div>
        </div>
     <!-- Exemplo de produto 3 -->
    <!-- Exemplo de produto 2 -->
    <div class="produto">
      <img src="/image/feijão.jfif" alt="Feijão" class="produto-img">
      <div class="produto-info">
        <h3>Feijão</h3>
        <p class="preco-original">R$ 20,00</p>
        <p class="preco-promocional">R$ 15,00</p>
        <div class="quantidade-container">
          <button class="decrement-btn">-</button>
          <span class="quantity-display">1</span>
          <button class="increment-btn">+</button>
        </div>
      </div>
    </div>
    <!-- Exemplo de produto 3 -->
    <div class="produto">
      <img src="/image/leite.jfif" alt="Leite" class="produto-img">
      <div class="produto-info">
        <h3>Leite</h3>
        <p class="preco-original">R$ 20,00</p>
        <p class="preco-promocional">R$ 15,00</p>
        <div class="quantidade-container">
          <button class="decrement-btn">-</button>
          <span class="quantity-display">1</span>
          <button class="increment-btn">+</button>
        </div>
      </div>
    </div>
    <div class="produto">
      <img src="/image/leite.jfif" alt="Leite" class="produto-img">
      <div class="produto-info">
        <h3>Leite</h3>
        <p class="preco-original">R$ 20,00</p>
        <p class="preco-promocional">R$ 15,00</p>
        <div class="quantidade-container">
          <button class="decrement-btn">-</button>
          <span class="quantity-display">1</span>
          <button class="increment-btn">+</button>
        </div>
      </div>
    </div>
    <div class="produto">
      <img src="/image/leite.jfif" alt="Leite" class="produto-img">
      <div class="produto-info">
        <h3>Leite</h3>
        <p class="preco-original">R$ 20,00</p>
        <p class="preco-promocional">R$ 15,00</p>
        <div class="quantidade-container">
          <button class="decrement-btn">-</button>
          <span class="quantity-display">1</span>
          <button class="increment-btn">+</button>
        </div>
      </div>
    </div>
    <div class="produto">
      <img src="/image/leite.jfif" alt="Leite" class="produto-img">
      <div class="produto-info">
        <h3>Leite</h3>
        <p class="preco-original">R$ 20,00</p>
        <p class="preco-promocional">R$ 15,00</p>
        <div class="quantidade-container">
          <button class="decrement-btn">-</button>
          <span class="quantity-display">1</span>
          <button class="increment-btn">+</button>
        </div>
      </div>
    </div>
  </div>
</section>

<section id="produtos">
  <a href="#">Bebidas</a>
  <div class="produtos-lista">
    <!-- Exemplo de produto 1 -->
    <div class="produto">
      <img src="/public/produtos/bebida-goiaba-d+.jpg" alt="Arroz" class="produto-img">
      <div class="produto-info">
        <h3>Bebida D+ Maratá Sabor Goiaba 1L</h3>
        <p class="preco-original">R$ 5,99</p>
        <p class="preco-promocional">R$ 4,39</p>
        <div class="quantidade-container">
          <button class="decrement-btn">-</button>
          <span class="quantity-display">1</span>
          <button class="increment-btn">+</button>
        </div>
      </div>
    </div>
    <!-- Exemplo de produto 2 -->
    <div class="produto">
      <img src="/public/produtos/monster-lata473ml.webp" alt="Feijão" class="produto-img">
      <div class="produto-info">
        <h3>Bebida Energética Monster 473ML</h3>
        <p class="preco-original">R$ 20,00</p>
        <p class="preco-promocional">R$ 15,00</p>
        <div class="quantidade-container">
          <button class="decrement-btn">-</button>
          <span class="quantity-display">1</span>
          <button class="increment-btn">+</button>
        </div>
      </div>
    </div>
    <!-- Exemplo de produto 3 -->
    <div class="produto">
      <img src="/public/produtos/achocolatado-caixinha-mococa200ml.webp" alt="Leite" class="produto-img">
      <div class="produto-info">
        <h3>Bebida Láctea Chocolate 200ML</h3>
        <p class="preco-original">R$ 1,39</p>
        <p class="preco-promocional">R$ 0,69</p>
        <div class="quantidade-container">
          <button class="decrement-btn">-</button>
          <span class="quantity-display">1</span>
          <button class="increment-btn">+</button>
        </div>
      </div>
    </div>
    <div class="produto">
      <img src="/public/produtos/petra-puro-malte.webp" alt="Leite" class="produto-img">
      <div class="produto-info">
        <h3>Cerveja Petra Puro Malte 350ML</h3>
        <p class="preco-original">R$ 3,90</p>
        <p class="preco-promocional">R$ 2,69</p>
        <div class="quantidade-container">
          <button class="decrement-btn">-</button>
          <span class="quantity-display">1</span>
          <button class="increment-btn">+</button>
        </div>
      </div>
    </div>
    <div class="produto">
      <img src="/public/produtos/whisky-ballantines-12anos.png" alt="Leite" class="produto-img">
      <div class="produto-info">
        <h3>Whisky 12 Anos Ballantine's</h3>
        <p class="preco-original">R$ 20,00</p>
        <p class="preco-promocional">R$ 15,00</p>
        <div class="quantidade-container">
          <button class="decrement-btn">-</button>
          <span class="quantity-display">1</span>
          <button class="increment-btn">+</button>
        </div>
      </div>
    </div>
    <div class="produto">
      <img src="/public/produtos/espumante-rose750ml.webp" alt="Leite" class="produto-img">
      <div class="produto-info">
        <h3>Espumante Lunar Rosé 750ML</h3>
        <p class="preco-original">R$ 34,50</p>
        <p class="preco-promocional">R$ 29,90</p>
        <div class="quantidade-container">
          <button class="decrement-btn">-</button>
          <span class="quantity-display">1</span>
          <button class="increment-btn">+</button>
        </div>
        
      </div>
      </div>
      <section id="produtos">
        <a href="#">Higiene e Limpeza </a>
        <div class="produtos-lista">
          <!-- Exemplo de produto 1 -->
          <div class="produto">
            <img src="/image/arroz.jfif" alt="Arroz" class="produto-img">
            <div class="produto-info">
              <h3>Arroz</h3>
              <p class="preco-original">R$ 20,00</p>
              <p class="preco-promocional">R$ 15,00</p>
              <div class="quantidade-container">
                <button class="decrement-btn">-</button>
                <span class="quantity-display">1</span>
                <button class="increment-btn">+</button>
              </div>
            </div>
          </div>
          <!-- Exemplo de produto 2 -->
          <div class="produto">
            <img src="/image/feijão.jfif" alt="Feijão" class="produto-img">
            <div class="produto-info">
              <h3>Feijão</h3>
              <p class="preco-original">R$ 20,00</p>
              <p class="preco-promocional">R$ 15,00</p>
              <div class="quantidade-container">
                <button class="decrement-btn">-</button>
                <span class="quantity-display">1</span>
                <button class="increment-btn">+</button>
              </div>
            </div>
          </div>
          <!-- Exemplo de produto 3 -->
          <div class="produto">
            <img src="/image/leite.jfif" alt="Leite" class="produto-img">
            <div class="produto-info">
              <h3>Leite</h3>
              <p class="preco-original">R$ 20,00</p>
              <p class="preco-promocional">R$ 15,00</p>
              <div class="quantidade-container">
                <button class="decrement-btn">-</button>
                <span class="quantity-display">1</span>
                <button class="increment-btn">+</button>
              </div>
            </div>
          </div>
          <div class="produto">
            <img src="/image/leite.jfif" alt="Leite" class="produto-img">
            <div class="produto-info">
              <h3>Leite</h3>
              <p class="preco-original">R$ 20,00</p>
              <p class="preco-promocional">R$ 15,00</p>
              <div class="quantidade-container">
                <button class="decrement-btn">-</button>
                <span class="quantity-display">1</span>
                <button class="increment-btn">+</button>
              </div>
            </div>
          </div>
          <div class="produto">
            <img src="/image/leite.jfif" alt="Leite" class="produto-img">
            <div class="produto-info">
              <h3>Leite</h3>
              <p class="preco-original">R$ 20,00</p>
              <p class="preco-promocional">R$ 15,00</p>
              <div class="quantidade-container">
                <button class="decrement-btn">-</button>
                <span class="quantity-display">1</span>
                <button class="increment-btn">+</button>
              </div>
            </div>
          </div>
          <div class="produto">
            <img src="/image/leite.jfif" alt="Leite" class="produto-img">
            <div class="produto-info">
              <h3>Leite</h3>
              <p class="preco-original">R$ 20,00</p>
              <p class="preco-promocional">R$ 15,00</p>
              <div class="quantidade-container">
                <button class="decrement-btn">-</button>
                <span class="quantity-display">1</span>
                <button class="increment-btn">+</button>
              </div>
            </div>
    </section>
    <section id="produtos">
      <a href="#">Frios e Congelados</a>
      <div class="produtos-lista">
        <!-- Exemplo de produto 1 -->
        <div class="produto">
          <img src="/public/produtos/BROCOLIS-CONGELADO-SEARA-300G.webp" alt="Brocolis" class="produto-img">
          <div class="produto-info">
            <h3>Brocólis Congelado Seara</h3>
            <p class="preco-original">R$ 7,80</p>
            <p class="preco-promocional">R$ 5,90</p>
            <div class="quantidade-container">
              <button class="decrement-btn">-</button>
              <span class="quantity-display">1</span>
              <button class="increment-btn">+</button>
            </div>
          </div>
        </div>
        <!-- Exemplo de produto 2 -->
        <div class="produto">
          <img src="/public/produtos/fileee-de-peito-frango1kg.webp" alt="Frango" class="produto-img">
          <div class="produto-info">
            <h3>Filé de Peito de Frango Aurora</h3>
            <p class="preco-original">R$ 20,00</p>
            <p class="preco-promocional">R$ 18,90</p>
            <div class="quantidade-container">
              <button class="decrement-btn">-</button>
              <span class="quantity-display">1</span>
              <button class="increment-btn">+</button>
            </div>
          </div>
        </div>
        <!-- Exemplo de produto 3 -->
        <div class="produto">
          <img src="/public/produtos/FILE-DE-TILAPIA-IQF-800G-AURORA-3502.webp" alt="Peixe" class="produto-img">
          <div class="produto-info">
            <h3>Filé de Tilapia Congelado Aurora</h3>
            <p class="preco-original">R$ 46,76</p>
            <p class="preco-promocional">R$ 39,90</p>
            <div class="quantidade-container">
              <button class="decrement-btn">-</button>
              <span class="quantity-display">1</span>
              <button class="increment-btn">+</button>
            </div>
          </div>
        </div>
        <div class="produto">
          <img src="/public/produtos/primor.webp" alt="Margarina" class="produto-img">
          <div class="produto-info">
            <h3>Margarina Com Sal Primor 250G</h3>
            <p class="preco-original">R$ 20,00</p>
            <p class="preco-promocional">R$ 15,00</p>
            <div class="quantidade-container">
              <button class="decrement-btn">-</button>
              <span class="quantity-display">1</span>
              <button class="increment-btn">+</button>
            </div>
          </div>
        </div>
        <div class="produto">
          <img src="/public/produtos/minipizza-terelina.png" alt="Leite" class="produto-img">
          <div class="produto-info">
            <h3>Minipizza Terelina Calabresa</h3>
            <p class="preco-original">R$ 20,00</p>
            <p class="preco-promocional">R$ 15,00</p>
            <div class="quantidade-container">
              <button class="decrement-btn">-</button>
              <span class="quantity-display">1</span>
              <button class="increment-btn">+</button>
            </div>
          </div>
        </div>
        <div class="produto">
          <img src="/public/produtos/iogurte-polpa-de-morango-danone-bandeja-510g.webp" alt="Leite" class="produto-img">
          <div class="produto-info">
            <h3>Bebida Láctea Danone Morango 510g</h3>
            <p class="preco-original">R$ 20,00</p>
            <p class="preco-promocional">R$ 15,00</p>
            <div class="quantidade-container">
              <button class="decrement-btn">-</button>
              <span class="quantity-display">1</span>
              <button class="increment-btn">+</button>     
             </div>
            </div>
          </div>
        </div>

        <section id="produtos">
          <a href="#">Frutas e Verduras</a>
          <div class="produtos-lista">
            <!-- Exemplo de produto 1 -->
            <div class="produto">
              <img src="/public/produtos/tomate_italiano_in_natura_kg_d09a2a5a-c57c-46d3-84fb-a3ffc94c9cd3.png" alt="Tomate" class="produto-img">
              <div class="produto-info">
                <h3>Tomate Italiano</h3>
                <p class="preco-original">R$ 4,20</p>
                <p class="preco-promocional">R$ 2,99 <br>QUILO</p>
                <div class="quantidade-container">
                  <button class="decrement-btn">-</button>
                  <span class="quantity-display">1</span>
                  <button class="increment-btn">+</button>
                </div>
              </div>
            </div>
            <!-- Exemplo de produto 2 -->
            <div class="produto">
              <img src="/public/produtos/Batata-Doce-Rosada-kg.webp" alt="Batata-doce" class="produto-img">
              <div class="produto-info">
                <h3>Batata-Doce Rosa </h3>
                <p class="preco-original">R$ 3,99</p>
                <p class="preco-promocional">R$ 2,79 <br>QUILO</p>
                <div class="quantidade-container">
                  <button class="decrement-btn">-</button>
                  <span class="quantity-display">1</span>
                  <button class="increment-btn">+</button>
                </div>
              </div>
            </div>
            <!-- Exemplo de produto 3 -->
            <div class="produto">
              <img src="/public/produtos/Batata-Lavada-kg-MT.png" alt="Batata-lavada" class="produto-img">
              <div class="produto-info">
                <h3>Batata Lavda</h3>
                <p class="preco-original">R$ 6,90</p>
                <p class="preco-promocional">R$ 5,99 <br>QUILO</p>
                <div class="quantidade-container">
                  <button class="decrement-btn">-</button>
                  <span class="quantity-display">1</span>
                  <button class="increment-btn">+</button>
                </div>
              </div>
            </div>
            <div class="produto">
              <img src="/public/produtos/banana-prata.jpeg" alt="Banana-prata" class="produto-img">
              <div class="produto-info">
                <h3>Banana Prata</h3>
                <p class="preco-original">R$ 3,50</p>
                <p class="preco-promocional">R$ 2,99 <br>QUILO</p>
                <div class="quantidade-container">
                  <button class="decrement-btn">-</button>
                  <span class="quantity-display">1</span>
                  <button class="increment-btn">+</button>
                </div>
              </div>
            </div>
            <div class="produto">
              <img src="/public/produtos/repolho-verde-organico-un-osm.jpg" alt="Repolho-verde" class="produto-img">
              <div class="produto-info">
                <h3>Repolho-Verde</h3>
                <p class="preco-original">R$ 3,69</p>
                <p class="preco-promocional">R$ 2,89 <br>QUILO</p>
                <div class="quantidade-container">
                  <button class="decrement-btn">-</button>
                  <span class="quantity-display">1</span>
                  <button class="increment-btn">+</button>
                </div>
              </div>
            </div>
            <div class="produto">
              <img src="/public/produtos/cebola-nacional.png" alt="cebola-nacional" class="produto-img">
              <div class="produto-info">
                <h3>Cebola Nacional</h3>
                <p class="preco-original">R$ 6,79</p>
                <p class="preco-promocional">R$ 5,99 <br>QUILO</p>
                <div class="quantidade-container">
                  <button class="decrement-btn">-</button>
                  <span class="quantity-display">1</span>
                  <button class="increment-btn">+</button>
                </div>
              </div>
      </section>
      
  </main>
    
  <footer>
    <p>&copy; 2024 MeuCarrinho. Todos os direitos reservados</p> <br>
    <h4>Contatos</h4> <br>
    <i class="bi bi-facebook"></i>
    <i class="bi bi-instagram"></i>
    <i class="bi bi-whatsapp"></i>
  </footer>

  <script src="js/script.js"></script>
  <script src="/js/carrossel.js"></script>
  <script src="/js/botoes.js"></script>
</body>
</html>