<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Assaí</title>
  <link rel="stylesheet" href="/css/assai.css">
  
</head>

<body>
  <header>
    <nav>
        <img src="/image/assaí-logo.png" alt="Icone assaí" class="icon"> 
        <form action="#" method="get" class="search-form">
            <input type="text" placeholder="Buscar por produto" name="search" class="search-input" id="seachInput">
            <button type="submit" class="search-button">🔍</button>
        </form>
          <a href="login.html" class="login-btn">Login</a>

          <ul>
            <button>Alimentos</button>
            <button>Bebidas</button>
            <button>Higiene e Limpeza</button>
            <button>Frios e Congelados</button>
            <button>Frutas e Verduras</button>
            <button>Ofertas Imperdíveis</button>
          </ul>
     
    </nav>
    
  </header>

  <main>
<!-- colocando os produtos -->
<section id="promocoes">
  <h2>Promoções</h2>
  <div class="carousel-container">
    <button class="arrow left-arrow">❮</button>
    <div class="promocoes-grid">
      <!-- Produtos -->
      <div class="promocao-item">
        <img src="/image/arroz.jfif" alt="Produto 1">
        <h3>Arroz</h3>
        <p class="preco-original">R$ 20,00</p>
        <p class="preco-promocional">R$ 15,00</p>
      </div>

      <div class="promocao-item">
        <img src="/image/feijão.jfif" alt="Produto 2">
        <h3>Feijão carioca</h3>
        <p class="preco-original">R$ 10,00</p>
        <p class="preco-promocional">R$ 8,00</p>
      </div>

      <div class="promocao-item">
        <img src="/image/feijão.jfif" alt="Produto 3">
        <h3>Feijão preto</h3>
        <p class="preco-original">R$ 8,00</p>
        <p class="preco-promocional">R$ 5,00</p>
      </div>

      <!-- Repita os itens de promoção conforme necessário -->
      <div class="promocao-item">
        <img src="/image/arroz.jfif" alt="Produto 1">
        <h3>Arroz</h3>
        <p class="preco-original">R$ 20,00</p>
        <p class="preco-promocional">R$ 15,00</p>
      </div>
      <div class="promocao-item">
        <img src="/image/feijão.jfif" alt="Produto 3">
        <h3>Feijão preto</h3>
        <p class="preco-original">R$ 8,00</p>
        <p class="preco-promocional">R$ 5,00</p>
      </div>

      <div class="promocao-item">
        <img src="/image/arroz.jfif" alt="Produto 1">
        <h3>Arroz</h3>
        <p class="preco-original">R$ 20,00</p>
        <p class="preco-promocional">R$ 15,00</p>
      </div>
      <div class="promocao-item">
        <img src="/image/feijão.jfif" alt="Produto 3">
        <h3>Feijão preto</h3>
        <p class="preco-original">R$ 8,00</p>
        <p class="preco-promocional">R$ 5,00</p>
      </div>

      <div class="promocao-item">
        <img src="/image/arroz.jfif" alt="Produto 1">
        <h3>Arroz</h3>
        <p class="preco-original">R$ 20,00</p>
        <p class="preco-promocional">R$ 15,00</p>
      </div>
      <div class="promocao-item">
        <img src="/image/feijão.jfif" alt="Produto 3">
        <h3>Feijão preto</h3>
        <p class="preco-original">R$ 8,00</p>
        <p class="preco-promocional">R$ 5,00</p>
      </div>

      <div class="promocao-item">
        <img src="/image/arroz.jfif" alt="Produto 1">
        <h3>Arroz</h3>
        <p class="preco-original">R$ 20,00</p>
        <p class="preco-promocional">R$ 15,00</p>
      </div>
    <button class="arrow right-arrow">❯</button>
  </div>
</section>


<!-- colocando produtos -->
<section id="promocoes">
  <h2>Produtos</h2>

    <div class="produtos-grid">
      <!-- Produtos -->
      <div class="produtos-item">
        <img src="/image/arroz.jfif" alt="Produto 1">
        <h3>Arroz 5kg</h3>
        <p class="preco-normal" >R$ 40,00</p>
      </div>

      <div class="produtos-item">
        <img src="/image/feijão.jfif" alt="Produto 2">
        <h3>Feijão carioca</h3>
        <p class="preco-normal">R$ 9,00</p>
      </div>

      <div class="produtos-item">
        <img src="/image/arroz.jfif" alt="Produto 1">
        <h3>Arroz 5kg</h3>
        <p class="preco-normal">R$ 40,00</p>
      </div>

      <div class="produtos-item">
        <img src="/image/feijão.jfif" alt="Produto 2">
        <h3>Feijão carioca</h3>
        <p class="preco-normal">R$ 9,00</p>
      </div> <div class="produtos-item">
        <img src="/image/arroz.jfif" alt="Produto 1">
        <h3>Arroz 5kg</h3>
        <p class="preco-normal">R$ 40,00</p>
      </div>

      <div class="produtos-item">
        <img src="/image/feijão.jfif" alt="Produto 2">
        <h3>Feijão carioca</h3>
        <p class="preco-normal">R$ 9,00</p>
      </div> <div class="produtos-item">
        <img src="/image/arroz.jfif" alt="Produto 1">
        <h3>Arroz 5kg</h3>
        <p class="preco-normal">R$ 40,00</p>
      </div>

      <div class="produtos-item">
        <img src="/image/feijão.jfif" alt="Produto 2">
        <h3>Feijão carioca</h3>
        <p class="preco-normal">R$ 9,00</p>
      </div> <div class="produtos-item">
        <img src="/image/arroz.jfif" alt="Produto 1">
        <h3>Arroz 5kg</h3>
        <p class="preco-normal">R$ 40,00</p>
      </div>

      <div class="produtos-item">
        <img src="/image/feijão.jfif" alt="Produto 2">
        <h3>Feijão carioca</h3>
        <p class="preco-normal">R$ 9,00</p>
      </div> <div class="produtos-item">
        <img src="/image/arroz.jfif" alt="Produto 1">
        <h3>Arroz 5kg</h3>
        <p class="preco-normal">R$ 40,00</p>
      </div>
      
      <div class="produtos-item">
        <img src="/image/feijão.jfif" alt="Produto 2">
        <h3>Feijão carioca</h3>
        <p class="preco-normal">R$ 9,00</p>
      </div> <div class="produtos-item">
        <img src="/image/arroz.jfif" alt="Produto 1">
        <h3>Arroz 5kg</h3>
        <p class="preco-normal">R$ 40,00</p>
      </div>

      <div class="produtos-item">
        <img src="/image/feijão.jfif" alt="Produto 2">
        <h3>Feijão carioca</h3>
        <p class="preco-normal">R$ 9,00</p>
      </div>
      <div class="ver-mais-container"><button class="ver-mais">Ver mais</button></div>
      
</section>
  </main>

</body>
</html>