<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Atacadão- Meu Carrinho</title>
  <link rel="stylesheet" href="/pg_mercados.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons/font/bootstrap-icons.css">
</head>
<body>
  <!-- Cabeçalho -->
  <header>
    <!-- Cabeçalho -->
  <header>
    <!-- top inicio-->
   <div class="conteiner_topo">
    <div class="topo_objeto"> 
      <div class="logo"><a href="/inicio"><img src="/image/logo.png"/></a></div>
    <!-- colocando a barra de pesquisa -->
    <form action="#" method="get" class="search-form">
        <div class="search-container">
            <input type="text" placeholder="Buscar por produto" name="search" class="search-input" id="seachInput">
            <button type="submit" class="search-button">🔍</button>
        </div>
    </form>
    <a href="/login" class="login-btn">Login</a>
    <a href="/cadastro" class="cadastro-btn">Cadastre-se</a>
     
  </div>
    </div>
    <!-- top inicio FIM-->
   <!-- categorias-->
    <nav>
      <ul>
        <a href="#alimentos"><button>Alimentos</button></a>
        <a href="#bebidas"><button>Bebidas</button></a>
        <a href="#higiene"><button>Higiene e Limpeza</button></a>
        <a href="#frios"><button>Frios e Congelados</button></a>
        <a href="#frutas"><button>Frutas e Verduras</button></a>
        </ul>
</nav>
<!-- Carrossel de destaques da semana -->
 
  </header>



  <!-- Conteúdo Principal -->
  <main>
    <div class="box_mercados">
      <!-- seleção mercado -->
      <h3>Selecione um mercado:</h3>
        <a href="/assai"><img id="assai-logo" src="/image/assaí-logo.png"/></a>
                <a href="/mateus"><img id="mateus-logo" src="/image/grupo-mateus-logo.png"/></a>
             <!-- seleçãpo mercado FIM-->
    <section id="promocoes">
      <h2 >Melhores ofertas da Semana Atacadão </h2> 
      <div class="carousel-container">
        <button class="arrow left-arrow">❮</button>
        <div class="promocoes-grid">
          <!-- Produtos -->
          <div class="promocao-item">
            <img src="/produtos/Wafer Amori.jfif" alt="Produto 1">
            <h3>Wafer Amori</h3>
            <p class="preco-original">R$ 5,90</p>
            <p class="preco-promocional">R$ 3,75</p>
            <div class="quantidade-container">
              <button class="decrement-btn">-</button>
              <span class="quantity-display">1</span>
              <button class="increment-btn">+</button>
            </div>
          </div>
          <div class="promocao-item">
            <img src="/produtos/Cha.jfif" alt="Produto 2">
            <h3>Chá Matte Leão Guaraná</h3>
            <p class="preco-original">R$ 25,90</p>
            <p class="preco-promocional">R$ 17,90</p>
            <div class="quantidade-container">
              <button class="decrement-btn">-</button>
              <span class="quantity-display">1</span>
              <button class="increment-btn">+</button>
            </div>
          </div>
          <div class="promocao-item">
            <img src="/produtos/achocolatado.jfif" alt="Produto 3">
            <h3>Achocolatado Ovomaltine</h3>
            <p class="preco-original">R$ 17,90</p>
            <p class="preco-promocional">R$ 12,90</p>
            <div class="quantidade-container">
              <button class="decrement-btn">-</button>
              <span class="quantity-display">1</span>
              <button class="increment-btn">+</button>
            </div>
          </div>
          <div class="promocao-item">
              <img src="/produtos/caixa de bombom.jfif" alt="Produto 3">
              <h3>Caixa de Bombom Garoto</h3>
              <p class="preco-original">R$ 8,00</p>
              <p class="preco-promocional">R$ 4,00</p>
              <div class="quantidade-container">
                <button class="decrement-btn">-</button>
                <span class="quantity-display">1</span>
                <button class="increment-btn">+</button>
              </div>
            </div>
            <div class="promocao-item">
              <img src="/produtos/leite fase.jfif" alt="Produto 3">
              <h3>Leite Ninho</h3>
              <p class="preco-original">R$ 15,00</p>
              <p class="preco-promocional">R$ 10,00</p>
              <div class="quantidade-container">
                <button class="decrement-btn">-</button>
                <span class="quantity-display">1</span>
                <button class="increment-btn">+</button>
              </div>
            </div>
            <div class="promocao-item">
              <img src="/produtos/creme_de_leite.jfif" alt="Produto 3">
              <h3>Creme de Leite Nestle</h3>
              <p class="preco-original">R$ 11,90</p>
              <p class="preco-promocional">R$ 7,75</p>
              <div class="quantidade-container">
                <button class="decrement-btn">-</button>
                <span class="quantity-display">1</span>
                <button class="increment-btn">+</button>
              </div>
            </div>
          <!-- Adicione mais itens conforme necessário -->
        </div>
        <button class="arrow right-arrow">❯</button>
      </div>
    </section>

    <section id="alimentos">
      <a>Alimentos</a>
      <section class="produtos-lista">
        <!-- Exemplo de produto 1 -->
        <div class="produto">
          <img src="/produtos/arroz.jfif" alt="Arroz" class="produto-img">
          <div class="produto-info">
            <h3>Arroz</h3>
            <p class="preco-original">R$ 11,90</p>
            <p class="preco-promocional">R$ 8,75</p>
            <div class="quantidade-container">
              <button class="decrement-btn">-</button>
              <span class="quantity-display">1</span>
              <button class="increment-btn">+</button>
            </div>
          </div>
        </div>
        <!-- Exemplo de produto 2 -->
        <div class="produto">
          <img src="/produtos/feijão.jfif" alt="Feijão" class="produto-img">
          <div class="produto-info">
            <h3>Feijão</h3>
            <p class="preco-original">R$ 9,90</p>
            <p class="preco-promocional">R$ 7,75</p>
            <div class="quantidade-container">
              <button class="decrement-btn">-</button>
              <span class="quantity-display">1</span>
              <button class="increment-btn">+</button>
            </div>
          </div>
        </div>
        <!-- Exemplo de produto 3 -->
        <div class="produto">
          <img src="/produtos/aveia.jfif" alt="Aveia" class="produto-img">
          <div class="produto-info">
            <h3>Aveia em pó</h3>
            <p class="preco-original">R$ 20,00</p>
            <p class="preco-promocional">R$ 15,00</p>
            <div class="quantidade-container">
              <button class="decrement-btn">-</button>
              <span class="quantity-display">1</span>
              <button class="increment-btn">+</button>
            </div>
          </div>
        </div>
        <div class="produto">
          <img src="/produtos/iogurte.jfif" alt="Iogurte" class="produto-img">
          <div class="produto-info">
            <h3>Iogurte Chamyto Morango</h3>
            <p class="preco-original">R$ 5,80</p>
            <p class="preco-promocional">R$ 3,90</p>
            <div class="quantidade-container">
              <button class="decrement-btn">-</button>
              <span class="quantity-display">1</span>
              <button class="increment-btn">+</button>
            </div>
          </div>
        </div>
        <div class="produto">
          <img src="/produtos/Wafer Bauducco.jfif" alt="Wafer" class="produto-img">
          <div class="produto-info">
            <h3>Wafer Bauducco</h3>
            <p class="preco-original">R$ 4,90</p>
            <p class="preco-promocional">R$ 3,75</p>
            <div class="quantidade-container">
              <button class="decrement-btn">-</button>
              <span class="quantity-display">1</span>
              <button class="increment-btn">+</button>
            </div>
          </div>
        </div>
        <div class="produto">
          <img src="/produtos/leite2.jfif" alt="Leite" class="produto-img">
          <div class="produto-info">
            <h3>Leite Italac</h3>
            <p class="preco-original">R$ 18,00</p>
            <p class="preco-promocional">R$ 14,00</p>
            <div class="quantidade-container">
              <button class="decrement-btn">-</button>
              <span class="quantity-display">1</span>
              <button class="increment-btn">+</button>
            </div>
            
          </div>
          </div>
        </section>

        <section id="produtos">
          <a>Bebidas</a>
          <div class="produtos-lista">
            <!-- Exemplo de produto 1 -->
            <div class="produto">
              <img src="/produtos/Cerveja.jpeg" alt="Cerveja" class="produto-img">
              <div class="produto-info">
                <h3>Cerveja Antártica</h3>
                <p class="preco-original">R$ 3,90</p>
                <p class="preco-promocional">R$ 1,60</p>
                <div class="quantidade-container">
                  <button class="decrement-btn">-</button>
                  <span class="quantity-display">0</span>
                  <button class="increment-btn">+</button>
                </div>
              </div>
            </div>
            <!-- Exemplo de produto 2 -->
            <div class="produto">
              <img src="/produtos/Energetico.jfif" alt="Energetico" class="produto-img">
              <div class="produto-info">
                <h3>Energético Vrauu</h3>
                <p class="preco-original">R$ 7,60</p>
                <p class="preco-promocional">R$ 5,39</p>
                <div class="quantidade-container">
                  <button class="decrement-btn">-</button>
                  <span class="quantity-display">0</span>
                  <button class="increment-btn">+</button>
                </div>
              </div>
            </div>
            <!-- Exemplo de produto 3 -->
            <div class="produto">
              <img src="/produtos/Espumante.jfif" alt="Espumante" class="produto-img">
              <div class="produto-info">
                <h3>Espumante La Roche</h3>
                <p class="preco-original">R$ 17,99</p>
                <p class="preco-promocional">R$ 14,99</p>
                <div class="quantidade-container">
                  <button class="decrement-btn">-</button>
                  <span class="quantity-display">0</span>
                  <button class="increment-btn">+</button>
                </div>
              </div>
            </div>
            <div class="produto">
              <img src="/produtos/agua.jfif" alt="agua" class="produto-img">
              <div class="produto-info">
                <h3>Água Mineral Ster Bom </h3>
                <p class="preco-original">R$ 1,70</p>
                <p class="preco-promocional">R$  0,75</p>
                <div class="quantidade-container">
                  <button class="decrement-btn">-</button>
                  <span class="quantity-display">0</span>
                  <button class="increment-btn">+</button>
                </div>
              </div>
            </div>
            <div class="produto">
              <img src="/produtos/Refrigerante.jfif" alt="Refrigerante" class="produto-img">
              <div class="produto-info">
                <h3>Refrigerante Fanta Cajú</h3>
                <p class="preco-original">R$ 11,99</p>
                <p class="preco-promocional">R$ 8,99</p>
                <div class="quantidade-container">
                  <button class="decrement-btn">-</button>
                  <span class="quantity-display">0</span>
                  <button class="increment-btn">+</button>
                </div>
              </div>
            </div>
            <div class="produto">
              <img src="/produtos/Syco.jfif" alt="Suco" class="produto-img">
              <div class="produto-info">
                <h3>Suco de Laranja Vita Suco</h3>
                <p class="preco-original">R$ 6,90</p>
                <p class="preco-promocional">R$ 4,75</p>
                <div class="quantidade-container">
                  <button class="decrement-btn">-</button>
                  <span class="quantity-display">0</span>
                  <button class="increment-btn">+</button>
                </div>
                
              </div>
              </div>
  
 <!-- Carrossel de destaques da semana FIM -->

 <!-- promoções em destaque -->
    <section id="higiene">
      <a>Higiene e limpeza</a>
      <div class="produtos-lista">
        <!-- Produtos -->
        <div class="produto">
          <img src="/produtos/agua_sanitaria2.jfif" alt="agua_sanitaria2" class="produto-img">
          <div class="produto-info">
            <h3>Água Sanitária Brilhante</h3>
            <p class="preco-original">R$ 9,75</p>
            <p class="preco-promocional">R$ 7,50</p>
            <div class="quantidade-container">
              <button class="decrement-btn">-</button>
              <span class="quantity-display">1</span>
              <button class="increment-btn">+</button>
            </div>
          </div>
        </div>
     <!-- Exemplo de produto 3 -->
    <!-- Exemplo de produto 2 -->
    <div class="produto">
      <img src="/produtos/escova_eletrica.jfif" alt="escova_eletrica" class="produto-img">
      <div class="produto-info">
        <h3>Escova Elétrica OralB</h3>
        <p class="preco-original">R$ 10,90</p>
        <p class="preco-promocional">R$ 8,75</p>
        <div class="quantidade-container">
          <button class="decrement-btn">-</button>
          <span class="quantity-display">1</span>
          <button class="increment-btn">+</button>
        </div>
      </div>
    </div>
    <!-- Exemplo de produto 3 -->
    <div class="produto">
      <img src="/produtos/sabonte_liquido.jfif" alt="sabonte_liquido" class="produto-img">
      <div class="produto-info">
        <h3>Sabonete Líquido Protex</h3>
        <p class="preco-original">R$ 15,90</p>
        <p class="preco-promocional">R$ 12,90</p>
        <div class="quantidade-container">
          <button class="decrement-btn">-</button>
          <span class="quantity-display">1</span>
          <button class="increment-btn">+</button>
        </div>
      </div>
    </div>
    <div class="produto">
      <img src="/produtos/fio_dental.jpg" alt="fio_dental" class="produto-img">
      <div class="produto-info">
        <h3>Fio Dental</h3>
        <p class="preco-original">R$ 8,90</p>
        <p class="preco-promocional">R$ 6,75</p>
        <div class="quantidade-container">
          <button class="decrement-btn">-</button>
          <span class="quantity-display">1</span>
          <button class="increment-btn">+</button>
        </div>
      </div>
    </div>
    <div class="produto">
      <img src="/produtos/detergente2.jfif" alt="detergente2" class="produto-img">
      <div class="produto-info">
        <h3>Detergente Ypê</h3>
        <p class="preco-original">R$ 5,90</p>
        <p class="preco-promocional">R$ 3,95</p>
        <div class="quantidade-container">
          <button class="decrement-btn">-</button>
          <span class="quantity-display">1</span>
          <button class="increment-btn">+</button>
        </div>
      </div>
    </div>
    <div class="produto">
      <img src="/produtos/desinfetante2.jfif" alt="desinfetante2" class="produto-img">
      <div class="produto-info">
        <h3>Desinfetante Minuano</h3>
        <p class="preco-original">R$ 12,90</p>
        <p class="preco-promocional">R$ 9,95</p>
        <div class="quantidade-container">
          <button class="decrement-btn">-</button>
          <span class="quantity-display">1</span>
          <button class="increment-btn">+</button>
        </div>
      </div>
    </div>
  </div>
</section>

<section id="frios">
  <a>Frios e Congelados</a>
  <div class="produtos-lista">
    <!-- Exemplo de produto 1 -->
    <div class="produto">
      <img src="/produtos/frango_requeijão.jfif" alt="Frango" class="produto-img">
      <div class="produto-info">
        <h3>Frango com Requeijão Sadia</h3>
        <p class="preco-original">R$ 17,90</p>
        <p class="preco-promocional">R$ 13,90</p>
        <div class="quantidade-container">
          <button class="decrement-btn">-</button>
          <span class="quantity-display">1</span>
          <button class="increment-btn">+</button>
        </div>
      </div>
    </div>
    <!-- Exemplo de produto 2 -->
    <div class="produto">
      <img src="/produtos/queijo.jfif" alt="qUEIJO" class="produto-img">
      <div class="produto-info">
        <h3>Queijo Fresco Vitória</h3>
        <p class="preco-original">R$ 15,90</p>
        <p class="preco-promocional">R$ 12,90</p>
        <div class="quantidade-container">
          <button class="decrement-btn">-</button>
          <span class="quantity-display">1</span>
          <button class="increment-btn">+</button>
        </div>
      </div>
    </div>
    <!-- Exemplo de produto 3 -->
    <div class="produto">
      <img src="/produtos/lasanha.jfif" alt="Lasanha" class="produto-img">
      <div class="produto-info">
        <h3>Lasanha Seara</h3>
        <p class="preco-original">R$ 17,90</p>
        <p class="preco-promocional">R$ 13,90</p>
        <div class="quantidade-container">
          <button class="decrement-btn">-</button>
          <span class="quantity-display">1</span>
          <button class="increment-btn">+</button>
        </div>
      </div>
    </div>
    <div class="produto">
      <img src="/produtos/mandioca_tolete.jfif" alt="Mandioca" class="produto-img">
      <div class="produto-info">
        <h3>Mandioca Tolete Pratigel</h3>
        <p class="preco-original">R$ 19,00</p>
        <p class="preco-promocional">R$ 14,00</p>
        <div class="quantidade-container">
          <button class="decrement-btn">-</button>
          <span class="quantity-display">1</span>
          <button class="increment-btn">+</button>
        </div>
      </div>
    </div>
    <div class="produto">
      <img src="/produtos/hotdog.jfif" alt="Hot-dog" class="produto-img">
      <div class="produto-info">
        <h3>Hot-dog Seara</h3>
        <p class="preco-original">R$ 15,90</p>
        <p class="preco-promocional">R$ 11,90</p>
        <div class="quantidade-container">
          <button class="decrement-btn">-</button>
          <span class="quantity-display">1</span>
          <button class="increment-btn">+</button>
        </div>
      </div>
    </div>
    <div class="produto">
      <img src="/produtos/queijo parmesao.jfif" alt="parmesao" class="produto-img">
      <div class="produto-info">
        <h3>Queijo Parmesão Galbani</h3>
        <p class="preco-original">R$ 13,90</p>
        <p class="preco-promocional">R$ 10,90</p>
        <div class="quantidade-container">
          <button class="decrement-btn">-</button>
          <span class="quantity-display">1</span>
          <button class="increment-btn">+</button>
        </div>
        
      </div>
      </div>
      <section id="frutas">
        <a>Frutas e Verduras</a>
        <div class="produtos-lista">
          <!-- Exemplo de produto 1 -->
          <div class="produto">
            <img src="/produtos/banana.jfif" alt="banana" class="produto-img">
            <div class="produto-info">
              <h3>Banana fit</h3>
              <p class="preco-original">R$ 4,90</p>
              <p class="preco-promocional">R$ 2,90</p>
              <div class="quantidade-container">
                <button class="decrement-btn">-</button>
                <span class="quantity-display">1</span>
                <button class="increment-btn">+</button>
              </div>
            </div>
          </div>
          <!-- Exemplo de produto 2 -->
          <div class="produto">
            <img src="/produtos/cenoura.jfif" alt="cenoura" class="produto-img">
            <div class="produto-info">
              <h3>Cenoura fit</h3>
              <p class="preco-original">R$ 3,90</p>
              <p class="preco-promocional">R$ 2,45</p>
              <div class="quantidade-container">
                <button class="decrement-btn">-</button>
                <span class="quantity-display">1</span>
                <button class="increment-btn">+</button>
              </div>
            </div>
          </div>
          <!-- Exemplo de produto 3 -->
          <div class="produto">
            <img src="/produtos/couve.jfif" alt="Leite" class="produto-img">
            <div class="produto-info">
              <h3>Couve La Vita</h3>
              <p class="preco-original">R$ 7,90</p>
              <p class="preco-promocional">R$ 5,90</p>
              <div class="quantidade-container">
                <button class="decrement-btn">-</button>
                <span class="quantity-display">1</span>
                <button class="increment-btn">+</button>
              </div>
            </div>
          </div>
          <div class="produto">
            <img src="/produtos/uva.jfif" alt="Leite" class="produto-img">
            <div class="produto-info">
              <h3>Uva Vitória</h3>
              <p class="preco-original">R$ 4,90</p>
              <p class="preco-promocional">R$ 2,75</p>
              <div class="quantidade-container">
                <button class="decrement-btn">-</button>
                <span class="quantity-display">1</span>
                <button class="increment-btn">+</button>
              </div>
            </div>
          </div>
          <div class="produto">
            <img src="/produtos/morango.jfif" alt="Leite" class="produto-img">
            <div class="produto-info">
              <h3>Morango De Marchi</h3>
              <p class="preco-original">R$ 10,90</p>
              <p class="preco-promocional">R$ 7,90</p>
              <div class="quantidade-container">
                <button class="decrement-btn">-</button>
                <span class="quantity-display">1</span>
                <button class="increment-btn">+</button>
              </div>
            </div>
          </div>
          <div class="produto">
            <img src="/produtos/beterraba.jfif" alt="Leite" class="produto-img">
            <div class="produto-info">
              <h3>Beterraba fit</h3>
              <p class="preco-original">R$ 7,60</p>
              <p class="preco-promocional">R$ 5,75</p>
              <div class="quantidade-container">
                <button class="decrement-btn">-</button>
                <span class="quantity-display">1</span>
                <button class="increment-btn">+</button>
              </div>
            </div>
    </section>
  </main>
  <footer>
    <p>&copy; 2024 MeuCarrinho. Todos os direitos reservados</p> <br>
    <h4>Contatos</h4> <br>
    <i class="bi bi-facebook"></i>
    <i class="bi bi-instagram"></i>
    <i class="bi bi-whatsapp"></i>
  </footer>
  
  <script src="js/script.js"></script>
  <script src="/js/carrossel.js"></script>
  <script src="/js/botoes.js"></script>
</body>
</html>