<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Inicio - Meu Carrinho</title>
  <link rel="stylesheet" href="/pg_mercados.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons/font/bootstrap-icons.css">
</head>
<body>
  <!-- Cabeçalho -->
  <header>
   <!-- top inicio-->
   <div class="conteiner_topo">
    <div class="topo_objeto"> 
      <div class="logo"><a href="/index"><img src="/image/logo.png"/></a></div>
    <!-- colocando a barra de pesquisa -->
    <form action="#" method="get" class="search-form">
        <div class="search-container">
            <input type="text" placeholder="Buscar por produto" name="search" class="search-input" id="seachInput">
            <button type="submit" class="search-button"></button>
        </div>
    </form>
    <a href="/login" class="login-btn">Login</a>
    <a href="/cadastro" class="cadastro-btn">Cadastre-se</a>
     
  </div>
    </div>
    <!-- top inicio FIM-->
 
  </header>
  <div class="box_slide">
<!-- Slide Inicio -->
  <div class="slideshow-container">
    <div class="mySlides fade">
      <div class="numbertext"></div>
      <img src="/image/slide01.png" style="width:100%">
      <div class="text"></div>
    </div>
    
    <div class="mySlides fade">
      <div class="numbertext"></div>
      <img src="/image/slide02.png" style="width:100%">
      <div class="text"></div>
    </div>
    
    <div class="mySlides fade">
      <div class="numbertext"></div>
      <img src="/image/slide03.png" style="width:100%">
      <div class="text"></div>
    </div>
    
    </div>
    
    <div style="text-align:center">
      <span class="dot"></span> 
      <span class="dot"></span> 
      <span class="dot"></span> 
    </div>
</div>
    <!-- Slide FIM -->

  <!-- Conteúdo Principal -->
  <main>
    <!-- seleção mercado -->
 <div class="box_mercados">
  
  <a href="/atacadao"><img id="atacadao-logo" src="/image/atacadao-logo2.webp"/></a>
    <a href="/assai"><img id="assai-logo" src="/image/assaí-logo.png"/></a>
    <a href="/mateus"><img id="mateus-logo" src="/image/grupo-mateus-logo.png"/></a>
    </div> <!-- seleção mercado FIM -->
          
    <!-- Carrossel de destaques da semana -->
    <section id="promocoes">
      <div class="carousel-container">
        <button class="arrow left-arrow">❮</button>
        <div class="promocoes-grid">
          <!-- Produtos -->
          <div class="promocao-item">
            <img src="/produtos/coxadefrangoFriato.webp" alt="Produto 3">
            <h3>Coxa de Frango Friato 1kg</h3>
            <p class="preco-original">R$ 20,00</p>
            <p class="preco-promocional">R$ 18,99</p>
            <p class="mercado-mateus"><a href="/views/mateus.html">Mateus</a></p>
          </div>
          <div class="promocao-item">
            <img src="/produtos/cafe-uniao-tradicional-250g.jpg" alt="Produto 2">
            <h3>Café União Tradicional 250g</h3>
            <p class="preco-original">R$ 9,99</p>
            <p class="preco-promocional">R$ 8,99</p>
            <p class="mercado-assai"><a href="/views/assai.html">Assaí</a></p>
          </div>
          <div class="promocao-item">
            <img src="/produtos/feijão.jfif" alt="Produto 3">
            <h3>Feijão preto</h3>
            <p class="preco-original">R$ 8,00</p>
            <p class="preco-promocional">R$ 5,00</p>
            <p class="mercado-atacadao"><a href="/views/atacadao.html">Atacadão</a></p>
          </div>
          <div class="promocao-item">
            <img src="/produtos/leite-int-betania-1L.webp" alt="Produto 3">
            <h3>Leite Longa Vida Integral Betânia 1L</h3>
            <p class="preco-original">R$ 6,39</p>
            <p class="preco-promocional">R$ 4,95</p>
              <p class="mercado-assai"><a href="/views/assai.html">Assaí</a></p>
            </div>
            <div class="promocao-item">
              <img src="/produtos/sucosaborfrutascitricas.webp" alt="Produto 3">
              <h3>Suco Sabor Frutas Cítricas 450ml</h3>
              <p class="preco-original">R$ 3,55</p>
              <p class="preco-promocional">R$ 2,79</p>
              <p class="mercado-mateus"><a href="/views/mateus.html">Mateus</a></p>
            </div>
            <div class="promocao-item">
              <img src="/produtos/BGuarana.png" alt="Produto 3">
              <h3>Guaraná Antarctica Original Lata 350ML</h3>
              <p class="preco-original">R$ 3,69</p>
              <p class="preco-promocional">R$ 1,99</p>
              <p class="mercado-assai"><a href="/views/assai.html">Assaí</a></p>
            </div>
          <!-- Adicione mais itens conforme necessário -->
        </div>
        <button class="arrow right-arrow">❯</button>
      </div>
    </section>
 <!-- Carrossel de destaques da semana FIM -->

 <!-- promoções em destaque -->
    <section id="produtos">
      <a href="/views/mateus.html">Ofertas em destaque Mateus</a>
      <div class="produtos-lista">
        <!-- Produtos -->
        <div class="produto">
          <img src="/produtos/leite.jfif" alt="Arroz" class="produto-img">
          <div class="produto-info">
            <h3>Leite Integral Piracanjuba 1L</h3>
            <p class="preco-original">R$ 6,00</p>
            <p class="preco-promocional">R$ 4,99</p>
          </div>
        </div>
     <!-- Exemplo de produto 3 -->
    <!-- Exemplo de produto 2 -->
    <div class="produto">
      <img src="/produtos/ovo1.webp" alt="Ovo" class="produto-img">
      <div class="produto-info">
        <h3>Ovos Vermelhos Grande Tijuca 30x1</h3>
        <p class="preco-original">R$ 21,10</p>
        <p class="preco-promocional">R$ 18,89</p>
      </div>
    </div>
    <!-- Exemplo de produto 3 -->
    <div class="produto">
      <img src="/produtos/pao-de-queijo.webp" alt="Pao-de-queijo" class="produto-img">
      <div class="produto-info">
        <h3>Pão de Queijo Tradicional 400g</h3>
        <p class="preco-original">R$ 10,19</p>
        <p class="preco-promocional">R$ 5,89</p>
      </div>
    </div>
    <div class="produto">
      <img src="/produtos/cenoura.webp" alt="Cenoura" class="produto-img">
      <div class="produto-info">
        <h3>Cenoura <br><br>Quilo </h3>
        <p class="preco-original">R$ 2,75</p>
        <p class="preco-promocional">R$ 1,99</p>
      </div>
    </div>
    <div class="produto">
      <img src="/produtos/oleo1.webp" alt="oleo-soja" class="produto-img">
      <div class="produto-info">
        <h3>Óleo de Soja Refinado Coamo 900ml</h3>
        <p class="preco-original">R$ 8,99</p>
        <p class="preco-promocional">R$ 6,99</p>
      </div>
    </div>
    <div class="produto">
      <img src="/produtos/papel_higienico2.jfif" alt="Leite" class="produto-img">
      <div class="produto-info">
        <h3>Papel Higiênico Neve</h3>
        <p class="preco-original">R$ 9,99</p>
        <p class="preco-promocional">R$ 8,45</p>
      </div>
    </div>
  </div>
</section>

<section id="produtos">
  <a href="/views/assai.html">Ofertas em destaque Assaí</a>
  <div class="produtos-lista">
    <!-- Exemplo de produto 1 -->
    <div class="produto">
      <img src="/produtos/cebola-nacional.png" alt="cebola-nacional" class="produto-img">
              <div class="produto-info">
                <h3>Cebola Nacional</h3>
                <p class="preco-original">R$ 6,79</p>
                <p class="preco-promocional">R$ 5,99 <br>QUILO</p>
                
      </div>
    </div>
    <!-- Exemplo de produto 2 -->
    <div class="produto">
      <img src="/produtos/banana-prata.jpeg" alt="Banana-prata" class="produto-img">
              <div class="produto-info">
                <h3>Banana Prata</h3>
                <p class="preco-original">R$ 3,50</p>
                <p class="preco-promocional">R$ 2,99 <br>QUILO</p>
                
      </div>
    </div>
    <!-- Exemplo de produto 3 -->
    <div class="produto">
      <img src="/produtos/fileee-de-peito-frango1kg.webp" alt="Frango" class="produto-img">
          <div class="produto-info">
            <h3>Filé de Peito de Frango Aurora</h3>
            <p class="preco-original">R$ 20,00</p>
            <p class="preco-promocional">R$ 18,90</p>
           
      </div>
    </div>
    <div class="produto">
      <img src="/produtos/achocolatado-caixinha-mococa200ml.webp" alt="Leite" class="produto-img">
      <div class="produto-info">
        <h3>Bebida Láctea Chocolate 200ML</h3>
          <p class="preco-original">R$ 1,39</p>
          <p class="preco-promocional">R$ 0,69</p>
      </div>
    </div>
    <div class="produto">
      <img src="/produtos/linguiça-defumada-perdigao215g.webp" alt="Leite" class="produto-img">
      <div class="produto-info">
              <h3>Linguiça Fininha Defumada Perdigão 215g</h3>
              <p class="preco-original">R$ 6,99</p>
              <p class="preco-promocional">R$ 14,89</p>
      </div>
    </div>
    <div class="produto">
      <img src="/produtos/monster-lata473ml.webp" alt="Feijão" class="produto-img">
      <div class="produto-info">
        <h3>Bebida Energética Monster 473ML</h3>
        <p class="preco-original">R$ 9,79</p>
        <p class="preco-promocional">R$ 8,49</p>
      </div>
</section>
      <section id="produtos">
        <a href="/views/atacadao.html">Ofertas em destaque Atacadão</a>
        <div class="produtos-lista">
          <!-- Exemplo de produto 1 -->
          <div class="produto">
            <img src="/produtos/arroz.jfif" alt="Arroz" class="produto-img">
            <div class="produto-info">
              <h3>Arroz</h3>
              <p class="preco-original">R$ 20,00</p>
              <p class="preco-promocional">R$ 15,00</p>
              
            </div>
          </div>
          <!-- Exemplo de produto 2 -->
          <div class="produto">
            <img src="/produtos/feijão.jfif" alt="Feijão" class="produto-img">
            <div class="produto-info">
              <h3>Feijão</h3>
              <p class="preco-original">R$ 20,00</p>
              <p class="preco-promocional">R$ 15,00</p>
            </div>
          </div>
          <!-- Exemplo de produto 3 -->
          <div class="produto">
            <img src="/produtos/leite.jfif" alt="Leite" class="produto-img">
            <div class="produto-info">
              <h3>Leite</h3>
              <p class="preco-original">R$ 20,00</p>
              <p class="preco-promocional">R$ 15,00</p>
            </div>
          </div>
          <div class="produto">
            <img src="/produtos/leite.jfif" alt="Leite" class="produto-img">
            <div class="produto-info">
              <h3>Leite</h3>
              <p class="preco-original">R$ 20,00</p>
              <p class="preco-promocional">R$ 15,00</p>
            </div>
          </div>
          <div class="produto">
            <img src="/produtos/leite.jfif" alt="Leite" class="produto-img">
            <div class="produto-info">
              <h3>Leite</h3>
              <p class="preco-original">R$ 20,00</p>
              <p class="preco-promocional">R$ 15,00</p>
            </div>
          </div>
          <div class="produto">
            <img src="/produtos/leite.jfif" alt="Leite" class="produto-img">
            <div class="produto-info">
              <h3>Leite</h3>
              <p class="preco-original">R$ 20,00</p>
              <p class="preco-promocional">R$ 15,00</p>
            </div>
    </section>
  </main>
  <footer>
    <p>&copy; 2024 MeuCarrinho. Todos os direitos reservados</p> <br>
    <h4>Contatos</h4> <br>
    <i class="bi bi-facebook"></i>
    <i class="bi bi-instagram"></i>
    <i class="bi bi-whatsapp"></i>
  </footer>
  
  <script src="/js/script.js"></script>
  <script src="/js/carrossel.js"></script>
  <script src="/js/botoes.js  "></script>

</body>
</html>