<!DOCTYPE html>
<html lang="pt-BR">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Lista de Itens do Mercado</title>
  <link rel="stylesheet" href="/public/listas.css">
</head>
<body>

    <div class="back-button">
        <a href="/views/admin.html">Voltar</a>
      </div>

  <h1>Lista de Itens do Mateus</h1>
  
  <ul class="item-list">
    <li class="item">
      <span>Arroz</span>
      <div class="buttons">
        <button class="edit">Editar</button>
        <button class="delete">Excluir</button>
      </div>
    </li>
    <li class="item">
      <span>Feijão</span>
      <div class="buttons">
        <button class="edit">Editar</button>
        <button class="delete">Excluir</button>
      </div>
    </li>
    <li class="item">
      <span>Macarrão</span>
      <div class="buttons">
        <button class="edit">Editar</button>
        <button class="delete">Excluir</button>
      </div>
    </li>
    <li class="item">
      <span>Leite</span>
      <div class="buttons">
        <button class="edit">Editar</button>
        <button class="delete">Excluir</button>
      </div>
    </li>
    <li class="item">
      <span>Óleo</span>
      <div class="buttons">
        <button class="edit">Editar</button>
        <button class="delete">Excluir</button>
      </div>
    </li>
  </ul>

</body>
</html>
