<!DOCTYPE html>
<html lang="pt-BR">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Lista de Usuários</title>
  <link rel="stylesheet" href="/listas.css">
</head>
<body>

    <div class="back-button">
        <a href="/admin">Voltar</a>
      </div>

  <h1>Lista de Usuários</h1>
  
  <ul class="item-list">
    <li class="item">
      <span>João Pedro </span>
      <div class="buttons">
        <button class="edit">Editar</button>
        <button class="delete">Excluir</button>
      </div>
    </li>
    <li class="item">
      <span>Felipe Mesquita</span>
      <div class="buttons">
        <button class="edit">Editar</button>
        <button class="delete">Excluir</button>
      </div>
    </li>
    <li class="item">
      <span>Giuseppe Ramos </span>
      <div class="buttons">
        <button class="edit">Editar</button>
        <button class="delete">Excluir</button>
      </div>
    </li>
    <li class="item">
      <span>Alex Santos</span>
      <div class="buttons">
        <button class="edit">Editar</button>
        <button class="delete">Excluir</button>
      </div>
    </li>
    <li class="item">
      <span>Carla Monteiro</span>
      <div class="buttons">
        <button class="edit">Editar</button>
        <button class="delete">Excluir</button>
      </div>
    </li>
  </ul>

</body>
</html>
