<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Mateus - Meu Carrinho</title>
  <link rel="stylesheet" href="/public/pg_mercados.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons/font/bootstrap-icons.css">
</head>
<body>
  <!-- Cabeçalho -->
  <header>
  <!-- Cabeçalho -->
  <header>
    <!-- top inicio-->
   <div class="conteiner_topo">
    <div class="topo_objeto"> 
      <div class="logo"><a href="/views/index.html"><img src="/public/image/logo.png"/></a></div>
    <!-- colocando a barra de pesquisa -->
    <form action="#" method="get" class="search-form">
        <div class="search-container">
            <input type="text" placeholder="Buscar por produto" name="search" class="search-input" id="seachInput">
            <button type="submit" class="search-button">🔍</button>
        </div>
    </form>
    <a href="/views/login.html" class="login-btn">Login</a>
    <a href="/views/cadastro.html" class="cadastro-btn">Cadastre-se</a>
     
  </div>
    </div>
    <!-- top inicio FIM-->
   <!-- categorias-->
    <nav>
   <ul>
    <button>Alimentos</button>
    <button>Bebidas</button>
    <button>Higiene e Limpeza</button>
    <button>Frios e Congelados</button>
    <button>Frutas e Verduras</button>
    <button>Ofertas Imperdíveis</button>
  </ul>
</nav>
<!-- Carrossel de destaques da semana -->
 
  </header>



  <!-- Conteúdo Principal -->
  <main>
    <div class="box_mercados">
      <!-- seleção mercado -->
      <h3>Selecione um mercado:</h3>
        <a href="assai.html"><img id="assai-logo" src="/public/image/assaí-logo.png"/></a>
                <a href="atacadao.html"><img id="atacadao-logo" src="/public/image/atacadao-logo2.webp"/></a>
             <!-- seleçãpo mercado FIM-->
        </div> 
    <section id="promocoes">
      <h2 >Melhores ofertas da Semana Mateus </h2> 
      <div class="carousel-container">
        <button class="arrow left-arrow">❮</button>
        <div class="promocoes-grid">
          <!-- Produtos -->
          <div class="promocao-item">
            <img src="/public/produtos/CafeSolúvel.webp" alt="Produto 1">
            <h3>Café Solúvel NESCAFÉ Original Extra Forte 40g </h3>
            <p class="preco-original">R$ 5,69</p>
            <p class="preco-promocional">R$ 4,85</p>
            <div class="quantidade-container">
              <button class="decrement-btn">-</button>
              <span class="quantity-display">0</span>
              <button class="increment-btn">+</button>
            </div>
          </div>
          <div class="promocao-item">
            <img src="/public/produtos/fraldababysecM.webp" alt="Produto 2">
            <h3>Fralda Babysec Mega M</h3>
            <p class="preco-original">R$ 46,89</p>
            <p class="preco-promocional">R$ 37,99</p>
            <div class="quantidade-container">
              <button class="decrement-btn">-</button>
              <span class="quantity-display">0</span>
              <button class="increment-btn">+</button>
            </div>
          </div>
          <div class="promocao-item">
            <img src="/public/produtos/coxadefrangoFriato.webp" alt="Produto 3">
            <h3>Coxa de Frango Friato 1kg</h3>
            <p class="preco-original">R$ 8,00</p>
            <p class="preco-promocional">R$ 5,00</p>
            <div class="quantidade-container">
              <button class="decrement-btn">-</button>
              <span class="quantity-display">0</span>
              <button class="increment-btn">+</button>
            </div>
          </div>
          <div class="promocao-item">
              <img src="/public/produtos/7894904271535_01.webp" alt="Produto 3">
              <h3>Margarina com Sal e Creme de Leite Delícia 250g</h3>
              <p class="preco-original">R$ 3,89</p>
              <p class="preco-promocional">R$ 3,29</p>
              <div class="quantidade-container">
                <button class="decrement-btn">-</button>
                <span class="quantity-display">0</span>
                <button class="increment-btn">+</button>
              </div>
            </div>
            <div class="promocao-item">
              <img src="/public/produtos/7899676512732.webp" alt="Produto 3">
              <h3>Cheiro Verde</h3>
              <p class="preco-original">R$ 3,05</p>
              <p class="preco-promocional">R$ 2,49</p>
              <div class="quantidade-container">
                <button class="decrement-btn">-</button>
                <span class="quantity-display">0</span>
                <button class="increment-btn">+</button>
              </div>
            </div>
            <div class="promocao-item">
              <img src="/public/produtos/sucosaborfrutascitricas.webp" alt="Produto 3">
              <h3>Suco sabor frutas cítrias 450ml</h3>
              <p class="preco-original">R$ 3,55</p>
              <p class="preco-promocional">R$ 2,79</p>
              <div class="quantidade-container">
                <button class="decrement-btn">-</button>
                <span class="quantity-display">0</span>
                <button class="increment-btn">+</button>
              </div>
            </div>
          <!-- Adicione mais itens conforme necessário -->
        </div>
        <button class="arrow right-arrow">❯</button>
      </div>
    </section>
 <!-- Carrossel de destaques da semana FIM -->

 <!-- promoções em destaque -->

 <section id="produtos">
  <a href="#">Alimentos</a>
  <div class="produtos-lista">
    <!-- Exemplo de produto 1 -->
    <div class="produto">
      <img src="/public/produtos/arroz1.webp" alt="Arroz" class="produto-img">
      <div class="produto-info">
        <h3>Arroz Branco Tipo 1 Dona Ana 5kg</h3>
        <p class="preco-original">R$ 30,49</p>
        <p class="preco-promocional">R$ 24,95</p>
        <div class="quantidade-container">
          <button class="decrement-btn">-</button>
          <span class="quantity-display">0</span>
          <button class="increment-btn">+</button>
        </div>
      </div>
    </div>
    <!-- Exemplo de produto 2 -->
    <div class="produto">
      <img src="/public/produtos/feijao1.webp" alt="Feijão" class="produto-img">
      <div class="produto-info">
        <h3>Feijão Preto Tipo1 1Kg</h3>
        <p class="preco-original">R$ 7,99</p>
        <p class="preco-promocional">R$ 5,00</p>
        <div class="quantidade-container">
          <button class="decrement-btn">-</button>
          <span class="quantity-display">0</span>
          <button class="increment-btn">+</button>
        </div>
      </div>
    </div>
    <!-- Exemplo de produto 3 -->
    <div class="produto">
      <img src="/public/produtos/frango1.webp" alt="Frango" class="produto-img">
      <div class="produto-info">
        <h3>Galinha Inteira Congelado</h3>
        <p class="preco-original">R$ 23,24</p>
        <p class="preco-promocional">R$ 19,99</p>
        <div class="quantidade-container">
          <button class="decrement-btn">-</button>
          <span class="quantity-display">0</span>
          <button class="increment-btn">+</button>
        </div>
      </div>
    </div>
    <div class="produto">
      <img src="/public/produtos/oleo1.webp" alt="Óleo" class="produto-img">
      <div class="produto-info">
        <h3>Óleo de Soja Refinado Coamo 900mlLeite</h3>
        <p class="preco-original">R$ 8,99</p>
        <p class="preco-promocional">R$ 6,99</p>
        <div class="quantidade-container">
          <button class="decrement-btn">-</button>
          <span class="quantity-display">0</span>
          <button class="increment-btn">+</button>
        </div>
      </div>
    </div>
    <div class="produto">
      <img src="/public/produtos/ovo1.webp" alt="Ovo" class="produto-img">
      <div class="produto-info">
        <h3>Ovos Vermelhos Grande Tijuca 30x1</h3>
        <p class="preco-original">R$ 27,10</p>
        <p class="preco-promocional">R$ 24,99</p>
        <div class="quantidade-container">
          <button class="decrement-btn">-</button>
          <span class="quantity-display">0</span>
          <button class="increment-btn">+</button>
        </div>
      </div>
    </div>         
    <div class="produto">
      <img src="/public/produtos/aveia1.webp" alt="Aveia" class="produto-img">
      <div class="produto-info">
        <h3>Aveia em Flocos Grossos Vitalin sem Glúten 200g</h3>
        <p class="preco-original">R$ 14,35</p>
        <p class="preco-promocional">R$ 11,69/p>
        <div class="quantidade-container">
          <button class="decrement-btn">-</button>
          <span class="quantity-display">0</span>
          <button class="increment-btn">+</button>
        </div>
        
      </div>
      </div>

      <section id="produtos">
        <a href="#">Bebidas</a>
        <div class="produtos-lista">
          <!-- Exemplo de produto 1 -->
          <div class="produto">
            <img src="/public/produtos/agua-crystal.webp" alt="Água" class="produto-img">
            <div class="produto-info">
              <h3>Água Mineral 500ml</h3>
              <p class="preco-original">R$ 10,92</p>
              <p class="preco-promocional">R$ 7,60</p>
              <div class="quantidade-container">
                <button class="decrement-btn">-</button>
                <span class="quantity-display">0</span>
                <button class="increment-btn">+</button>
              </div>
            </div>
          </div>
          <!-- Exemplo de produto 2 -->
          <div class="produto">
            <img src="/public/produtos/coca1.png" alt="Coca Cola" class="produto-img">
            <div class="produto-info">
              <h3>Refrigerante Coca Cola 350ml</h3>
              <p class="preco-original">R$ 4,60</p>
              <p class="preco-promocional">R$ 3,39</p>
              <div class="quantidade-container">
                <button class="decrement-btn">-</button>
                <span class="quantity-display">0</span>
                <button class="increment-btn">+</button>
              </div>
            </div>
          </div>
          <!-- Exemplo de produto 3 -->
          <div class="produto">
            <img src="/public/produtos/suco-de-caixa.webp" alt="Suco" class="produto-img">
            <div class="produto-info">
              <h3>Suco de Laranja Del Valle 200ml</h3>
              <p class="preco-original">R$ 4,69</p>
              <p class="preco-promocional">R$ 2,99</p>
              <div class="quantidade-container">
                <button class="decrement-btn">-</button>
                <span class="quantity-display">0</span>
                <button class="increment-btn">+</button>
              </div>
            </div>
          </div>
          <div class="produto">
            <img src="/public/produtos/leite.jfif" alt="Leite" class="produto-img">
            <div class="produto-info">
              <h3>Leite Integral 1L </h3>
              <p class="preco-original">R$ 6,00</p>
              <p class="preco-promocional">R$  4,99</p>
              <div class="quantidade-container">
                <button class="decrement-btn">-</button>
                <span class="quantity-display">0</span>
                <button class="increment-btn">+</button>
              </div>
            </div>
          </div>
          <div class="produto">
            <img src="/public/produtos/nescau-caixa.webp" alt="Nescau" class="produto-img">
            <div class="produto-info">
              <h3>Bebida Láctea Nescau 1L</h3>
              <p class="preco-original">R$ 13,99</p>
              <p class="preco-promocional">R$ 8,99</p>
              <div class="quantidade-container">
                <button class="decrement-btn">-</button>
                <span class="quantity-display">0</span>
                <button class="increment-btn">+</button>
              </div>
            </div>
          </div>
          <div class="produto">
            <img src="/public/produtos/danone1.webp" alt="Danone" class="produto-img">
            <div class="produto-info">
              <h3>Danone Vitamina De Frutas </h3>
              <p class="preco-original">R$ 15,00</p>
              <p class="preco-promocional">R$ 10,99 </p>
              <div class="quantidade-container">
                <button class="decrement-btn">-</button>
                <span class="quantity-display">0</span>
                <button class="increment-btn">+</button>
              </div>
              
            </div>
            </div>

    <section id="produtos">
      <a href="#">Higiene e limpeza</a>
      <div class="produtos-lista">
        <!-- Produtos -->
        <div class="produto">
          <img src="/public/produtos/escova_dental.jfif" alt="escova_dental" class="produto-img">
          <div class="produto-info">
            <h3>Escova Dental OralB 4 unidades</h3>
            <p class="preco-original">R$ 17,99</p>
            <p class="preco-promocional">R$ 14,99</p>
            <div class="quantidade-container">
              <button class="decrement-btn">-</button>
              <span class="quantity-display">0</span>
              <button class="increment-btn">+</button>
            </div>
          </div>
        </div>
     <!-- Exemplo de produto 3 -->
    <!-- Exemplo de produto 2 -->
    <div class="produto">
      <img src="/public/produtos/sabonete.jfif" alt="sabonete" class="produto-img">
      <div class="produto-info">
        <h3>Sabonete Francis</h3>
        <p class="preco-original">R$ 4,90</p>
        <p class="preco-promocional">R$ 2,75</p>
        <div class="quantidade-container">
          <button class="decrement-btn">-</button>
          <span class="quantity-display">0</span>
          <button class="increment-btn">+</button>
        </div>
      </div>
    </div>
    <!-- Exemplo de produto 3 -->
    <div class="produto">
      <img src="/public/produtos/detergente.jfif" alt="Detergente" class="produto-img">
      <div class="produto-info">
        <h3>Detergente Odd</h3>
        <p class="preco-original">R$ 2,49</p>
        <p class="preco-promocional">R$ 1,75</p>
        <div class="quantidade-container">
          <button class="decrement-btn">-</button>
          <span class="quantity-display">0</span>
          <button class="increment-btn">+</button>
        </div>
      </div>
    </div>
    <div class="produto">
      <img src="/public/produtos/papel_higienico2.jfif" alt="papel_higienico2" class="produto-img">
      <div class="produto-info">
        <h3>Papel Higiênico Neve</h3>
        <p class="preco-original">R$ 27,99</p>
        <p class="preco-promocional">R$ 22,99</p>
        <div class="quantidade-container">
          <button class="decrement-btn">-</button>
          <span class="quantity-display">0</span>
          <button class="increment-btn">+</button>
        </div>
      </div>
    </div>
    <div class="produto">
      <img src="/public/produtos/amaciante2.jfif" alt="amaciante2" class="produto-img">
      <div class="produto-info">
        <h3>Amaciante Comfort</h3>
        <p class="preco-original">R$ 14,95</p>
        <p class="preco-promocional">R$ 11,95</p>
        <div class="quantidade-container">
          <button class="decrement-btn">-</button>
          <span class="quantity-display">0</span>
          <button class="increment-btn">+</button>
        </div>
      </div>
    </div>
    <div class="produto">
      <img src="/public/produtos/Alvejante.jfif" alt="Alvejante" class="produto-img">
      <div class="produto-info">
        <h3>Alvejante Vanish</h3>
        <p class="preco-original">R$ 58,75</p>
        <p class="preco-promocional">R$ 51,85</p>
        <div class="quantidade-container">
          <button class="decrement-btn">-</button>
          <span class="quantity-display">0</span>
          <button class="increment-btn">+</button>
        </div>
      </div>
    </div>
  </div>
</section>

      <section id="produtos">
        <a href="#">Frios e Congelados</a>
        <div class="produtos-lista">
          <!-- Exemplo de produto 1 -->
          <div class="produto">
            <img src="/public/produtos/lasanha1.webp" alt="Lasanha" class="produto-img">
            <div class="produto-info">
              <h3>Lasanha bolonhesa Sadia pacote 600g</h3>
              <p class="preco-original">R$ 19,99</p>
              <p class="preco-promocional">R$ 16,25</p>
              <div class="quantidade-container">
                <button class="decrement-btn">-</button>
                <span class="quantity-display">0</span>
                <button class="increment-btn">+</button>
              </div>
            </div>
          </div>
          <!-- Exemplo de produto 2 -->
          <div class="produto">
            <img src="/public/produtos/polpafrutas.webp" alt="Polpa de Frutas" class="produto-img">
            <div class="produto-info">
              <h3>Polpa de Fruta Rio Grande Sabor Caju 500g</h3>
              <p class="preco-original">R$ 5,89</p>
              <p class="preco-promocional">R$ 5,49</p>
              <div class="quantidade-container">
                <button class="decrement-btn">-</button>
                <span class="quantity-display">0</span>
                <button class="increment-btn">+</button>
              </div>
            </div>
          </div>
          <!-- Exemplo de produto 3 -->
          <div class="produto">
            <img src="/public/produtos/sorvete1.webp" alt="Sorvete" class="produto-img">
            <div class="produto-info">
              <h3>Sorvete Creme Kibon Cremosíssimo Pote 1,5l</h3>
              <p class="preco-original">R$ 38,99</p>
              <p class="preco-promocional">R$ 36,69</p>
              <div class="quantidade-container">
                <button class="decrement-btn">-</button>
                <span class="quantity-display">0</span>
                <button class="increment-btn">+</button>
              </div>
            </div>
          </div>
          <div class="produto">
            <img src="/public/produtos/pao-de-queijo.webp" alt="Pão de Queijo" class="produto-img">
            <div class="produto-info">
              <h3>Pão de Queijo Tradicional 400g</h3>
              <p class="preco-original">R$ 10,19</p>
              <p class="preco-promocional">R$ 5,89</p>
              <div class="quantidade-container">
                <button class="decrement-btn">-</button>
                <span class="quantity-display">0</span>
                <button class="increment-btn">+</button>
              </div>
            </div>
          </div>
          <div class="produto">
            <img src="/public/produtos/linguica.webp" alt="Linguiça" class="produto-img">
            <div class="produto-info">
              <h3>Linguiça Sadia Calabresa 1kg</h3>
              <p class="preco-original">R$ 30,45</p>
              <p class="preco-promocional">R$ 27,99</p>
              <div class="quantidade-container">
                <button class="decrement-btn">-</button>
                <span class="quantity-display">0</span>
                <button class="increment-btn">+</button>
              </div>
            </div>
          </div>
          <div class="produto">
            <img src="/public/produtos/danone.webp" alt="Danone" class="produto-img">
            <div class="produto-info">
              <h3>Bebida Lactea Kids Morango, Banana, Maça Danone 510g</h3>
              <p class="preco-original">R$ 7,75</p>
              <p class="preco-promocional">R$ 6,00</p>
              <div class="quantidade-container">
                <button class="decrement-btn">-</button>
                <span class="quantity-display">0</span>
                <button class="increment-btn">+</button>
              </div>
            </div>
    </section>

    <section id="produtos">
      <a href="#">Frutas e Verduras</a>
      <div class="produtos-lista">
        <!-- Exemplo de produto 1 -->
        <div class="produto">
          <img src="/public/produtos/tangerina.webp" alt="Tangerina" class="produto-img">
          <div class="produto-info">
            <h3>Tangerina Morgote</h3>
            <p class="preco-original">R$ 7,62</p>
            <p class="preco-promocional">R$ 6,99</p>
            <div class="quantidade-container">
              <button class="decrement-btn">-</button>
              <span class="quantity-display">0</span>
              <button class="increment-btn">+</button>
            </div>
          </div>
        </div>
        <!-- Exemplo de produto 2 -->
        <div class="produto">
          <img src="/public/produtos/abobora.webp" alt="Abóbora" class="produto-img">
          <div class="produto-info">
            <h3>Abóbora Comum</h3>
            <p class="preco-original">R$ 4,60</p>
            <p class="preco-promocional">R$ 3,44</p>
            <div class="quantidade-container">
              <button class="decrement-btn">-</button>
              <span class="quantity-display">0</span>
              <button class="increment-btn">+</button>
            </div>
          </div>
        </div>
        <!-- Exemplo de produto 3 -->
        <div class="produto">
          <img src="/public/produtos/abacate.webp" alt="Abacate" class="produto-img">
          <div class="produto-info">
            <h3>Abacate Porção de 1kg</h3>
            <p class="preco-original">R$ 22,19</p>
            <p class="preco-promocional">R$ 19,90</p>
            <div class="quantidade-container">
              <button class="decrement-btn">-</button>
              <span class="quantity-display">0</span>
              <button class="increment-btn">+</button>
            </div>
          </div>
        </div>
        <div class="produto">
          <img src="/public/produtos/cenoura.webp" alt="Cenoura" class="produto-img">
          <div class="produto-info">
            <h3>Cenoura</h3>
            <p class="preco-original">R$ 2,75</p>
            <p class="preco-promocional">R$ 1,99</p>
            <div class="quantidade-container">
              <button class="decrement-btn">-</button>
              <span class="quantity-display">0</span>
              <button class="increment-btn">+</button>
            </div>
          </div>
        </div>
        <div class="produto">
          <img src="/public/produtos/abacaxi.webp" alt="Abacaxi" class="produto-img">
          <div class="produto-info">
            <h3>Abacaxi Turiaçu</h3>
            <p class="preco-original">R$ 8,99</p>
            <p class="preco-promocional">R$ 7,89</p>
            <div class="quantidade-container">
              <button class="decrement-btn">-</button>
              <span class="quantity-display">0</span>
              <button class="increment-btn">+</button>
            </div>
          </div>
        </div>
        <div class="produto">
          <img src="/public/produtos/pimentao.webp" alt="Pimentão" class="produto-img">
          <div class="produto-info">
            <h3>Pimentão Verde Porção de 250 g </h3>
            <p class="preco-original">R$ 5,21</p>
            <p class="preco-promocional">R$ 4,25 </p>
            <div class="quantidade-container">
              <button class="decrement-btn">-</button>
              <span class="quantity-display">0</span>
              <button class="increment-btn">+</button>
            </div>
            
          </div>
          </div>
  </main>
  <footer>
    <p>&copy; 2024 MeuCarrinho. Todos os direitos reservados</p> <br>
    <h4>Contatos</h4> <br>
    <i class="bi bi-facebook"></i>
    <i class="bi bi-instagram"></i>
    <i class="bi bi-whatsapp"></i>
  </footer>
  
  <script src="js/script.js"></script>
  <script src="/js/carrossel.js"></script>
  <script src="/js/botoes.js"></script>
</body>
</html>