<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Mateus</title>
  <link rel="stylesheet" href="../css/mateus.css">
  
</head>

<body>
  <header>
    <nav>
        <img src="/image/mts-logo.png" alt="Icone mateus" class="icon"> 
        <form action="#" method="get" class="search-form">
          <div class="search-container">
              <input type="text" placeholder="Buscar por produto" name="search" class="search-input" id="seachInput">
              <button type="submit" class="search-button">🔍</button>
          </div>
      </form>
      
          <a href="login.html" class="login-btn">Login</a>
          <ul>
            <li><button>Alimentos</button></li>
            <li><button>Bebidas</button></li>
            <li><button>Higiene e Limpeza</button></li>
            <li><button>Frios e Congelados</button></li>
            <li><button>Frutas e Verduras</button></li>
            <li><button>Ofertas Imperdíveis</button></li>
          </ul>
    
    </nav>
    
  </header>

  <main>
<!-- colocando os produtos -->
<section id="promocoes">
  <h2>Promoções</h2>
  <div class="carousel-container">
    <button class="arrow left-arrow">❮</button>
    <div class="promocoes-grid">
      <!-- Produtos -->
      <div class="promocao-item">
        <img src="/image/arroz.jfif" alt="Produto 1">
        <h3>Arroz</h3>
        <p class="preco-original">R$ 20,00</p>
        <p class="preco-promocional">R$ 15,00</p>
      </div>

      <div class="promocao-item">
        <img src="/image/feijão.jfif" alt="Produto 2">
        <h3>Feijão carioca</h3>
        <p class="preco-original">R$ 10,00</p>
        <p class="preco-promocional">R$ 8,00</p>
      </div>

      <div class="promocao-item">
        <img src="/image/feijão.jfif" alt="Produto 3">
        <h3>Feijão preto</h3>
        <p class="preco-original">R$ 8,00</p>
        <p class="preco-promocional">R$ 5,00</p>
      </div>

      <!-- Repita os itens de promoção conforme necessário -->
      <div class="promocao-item">
        <img src="/image/arroz.jfif" alt="Produto 1">
        <h3>Arroz</h3>
        <p class="preco-original">R$ 20,00</p>
        <p class="preco-promocional">R$ 15,00</p>
      </div>
      <div class="promocao-item">
        <img src="/image/feijão.jfif" alt="Produto 3">
        <h3>Feijão preto</h3>
        <p class="preco-original">R$ 8,00</p>
        <p class="preco-promocional">R$ 5,00</p>
      </div>

      <div class="promocao-item">
        <img src="/image/arroz.jfif" alt="Produto 1">
        <h3>Arroz</h3>
        <p class="preco-original">R$ 20,00</p>
        <p class="preco-promocional">R$ 15,00</p>
      </div>
      <div class="promocao-item">
        <img src="/image/feijão.jfif" alt="Produto 3">
        <h3>Feijão preto</h3>
        <p class="preco-original">R$ 8,00</p>
        <p class="preco-promocional">R$ 5,00</p>
      </div>

      <div class="promocao-item">
        <img src="/image/arroz.jfif" alt="Produto 1">
        <h3>Arroz</h3>
        <p class="preco-original">R$ 20,00</p>
        <p class="preco-promocional">R$ 15,00</p>
      </div>
      <div class="promocao-item">
        <img src="/image/feijão.jfif" alt="Produto 3">
        <h3>Feijão preto</h3>
        <p class="preco-original">R$ 8,00</p>
        <p class="preco-promocional">R$ 5,00</p>
      </div>

      <div class="promocao-item">
        <img src="/image/arroz.jfif" alt="Produto 1">
        <h3>Arroz</h3>
        <p class="preco-original">R$ 20,00</p>
        <p class="preco-promocional">R$ 15,00</p>
      </div>
    <button class="arrow right-arrow">❯</button>
  </div>
</section>


<!-- colocando produtos -->
<section id="promocoes">
  <h2>Produtos</h2>

    <div class="produtos-grid">
      <!-- Produtos -->
      <div class="produtos-item">
        <img src="/image/arroz.jfif" alt="Produto 1">
        <h3>Arroz 5kg</h3>
        <p class="preco-normal" >R$ 40,00</p>
      </div>

      <div class="produtos-item">
        <img src="/image/feijão.jfif" alt="Produto 2">
        <h3>Feijão carioca</h3>
        <p class="preco-normal">R$ 9,00</p>
      </div>

      <div class="produtos-item">
        <img src="/image/arroz.jfif" alt="Produto 1">
        <h3>Arroz 5kg</h3>
        <p class="preco-normal">R$ 40,00</p>
      </div>

      <div class="produtos-item">
        <img src="/image/feijão.jfif" alt="Produto 2">
        <h3>Feijão carioca</h3>
        <p class="preco-normal">R$ 9,00</p>
      </div> <div class="produtos-item">
        <img src="/image/arroz.jfif" alt="Produto 1">
        <h3>Arroz 5kg</h3>
        <p class="preco-normal">R$ 40,00</p>
      </div>

      <div class="produtos-item">
        <img src="/image/feijão.jfif" alt="Produto 2">
        <h3>Feijão carioca</h3>
        <p class="preco-normal">R$ 9,00</p>
      </div> <div class="produtos-item">
        <img src="/image/arroz.jfif" alt="Produto 1">
        <h3>Arroz 5kg</h3>
        <p class="preco-normal">R$ 40,00</p>
      </div>

      <div class="produtos-item">
        <img src="/image/feijão.jfif" alt="Produto 2">
        <h3>Feijão carioca</h3>
        <p class="preco-normal">R$ 9,00</p>
      </div> <div class="produtos-item">
        <img src="/image/arroz.jfif" alt="Produto 1">
        <h3>Arroz 5kg</h3>
        <p class="preco-normal">R$ 40,00</p>
      </div>

      <div class="produtos-item">
        <img src="/image/feijão.jfif" alt="Produto 2">
        <h3>Feijão carioca</h3>
        <p class="preco-normal">R$ 9,00</p>
      </div>
      <div class="produtos-item">
        <img src="/image/feijão.jfif" alt="Produto 2">
        <h3>Feijão carioca</h3>
        <p class="preco-normal">R$ 9,00</p>
      </div> <div class="produtos-item">
        <img src="/image/arroz.jfif" alt="Produto 1">
        <h3>Arroz 5kg</h3>
        <p class="preco-normal">R$ 40,00</p>
      </div>

      <div class="produtos-item">
        <img src="/image/feijão.jfif" alt="Produto 2">
        <h3>Feijão carioca</h3>
        <p class="preco-normal">R$ 9,00</p>
      </div>
      <div class="produtos-item">
        <img src="/image/feijão.jfif" alt="Produto 2">
        <h3>Feijão carioca</h3>
        <p class="preco-normal">R$ 9,00</p>
      </div> <div class="produtos-item">
        <img src="/image/arroz.jfif" alt="Produto 1">
        <h3>Arroz 5kg</h3>
        <p class="preco-normal">R$ 40,00</p>
      </div>

      <div class="produtos-item">
        <img src="/image/feijão.jfif" alt="Produto 2">
        <h3>Feijão carioca</h3>
        <p class="preco-normal">R$ 9,00</p>
      </div>
      
      <!-- colocando o botao "Ver Mais" no final de produtos -->
      <div class="ver-mais-container">
        <button class="ver-mais-btn">Ver mais</button>
      </div>
</section>
<footer>
  <p> </p>
  <p><a href="#">teste</a> | <a href="#">teste</a></p>
  
</footer>
  </main>

</body>
</html>
